<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,900,400italic%7CSignika:700,300,400,600' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css">
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
  {% if page.url == "/events.html" %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <script src="/js/fgc.min.js"></script>
  <script>
  formatGoogleCalendar.init({
          calendarUrl: 'https://www.googleapis.com/calendar/v3/calendars/k068rj09ace9se9gch8id6pvhc%40group.calendar.google.com/events?key=AIzaSyCR3-ptjHE-_douJsn8o20oRwkxt-zHStY',
          past: false,
          upcoming: true,
          sameDayTimes: true,
          pastTopN: -1,
          upcomingTopN: 3,
          itemsTagName: 'div',
          upcomingSelector: '#events-upcoming',
          pastSelector: '#events-past',
          upcomingHeading: '<h1 class="text-xs-center p-t-1">Upcoming events</h1>',
          format: ['<div class="row"><div class="col-xs-6"><h2 class="m-b-0" style="float:left">', '*summary*', '</h2></div><div class="col-xs-6 text-xs-right">', '*date*', '</div><div class="col-xs-12"><p>', '*description*', ' </p><span class="location">', '*location*', '</span></div></div>']
  });
  </script>
  {% endif %}
</head>
